@font-face {
  font-family: 'TheJamsil3Regular';
  src: url('/fonts/TheJamsilOTF3Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TheJamsil4Medium';
  src: url('/fonts/TheJamsilOTF4Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('/fonts/TheJamsilOTF5Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TheJamsil6ExtraBold';
  src: url('/fonts/TheJamsilOTF6ExtraBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
